@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --main-color: #4b2626;
  --lighter-color: #c2471a;
  --another-color: #8f4a37;

  --border-radius: 7px;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0; /* for li's padding */
  transition: all 0.3s ease;
}

a {
  color: var(--lighter-color);
}

body {
  user-select: none;
  text-align: center; /* titles and footer */
  margin: 0; /* no y-scrolling on history-board */
}

button, input[type="submit"] {
  background: var(--lighter-color);
  border: 1px solid var(--lighter-color);
  color: white;
  cursor: pointer;
  padding: 0 5px;
}

button:hover, input[type="submit"]:hover {
  background: var(--another-color);
  border-color: var(--another-color);
}

button, input {
  border-radius: 4px;
  height: 30px;
  text-align: center; /* aligned when login and signin up */
}

canvas { /* not visible but without it it'll be very small */
  height: 100%;
  width: 100%;
}

input {
  border: 1px solid lightgray;
  margin-bottom: 5px;
}

section, iframe {
  background: white;
  border-radius: 7px;
}

li {
  align-items: center; /* align vertically icon and label */
  display: flex;
  /*justify-content: flex-start;*/
  margin-bottom: 5px;
}

p, label, span, img { /* transition in those make them fell laggy */
  margin: 0;
  transition: none;
}

.background {
  background-color: var(--main-color);
  margin: 50px 15px 0 15px; /* margin around the page */
}

.buttons-container { /* only reason is for the custom gap */
  display: flex;
  flex-direction: column;
  gap: 10px;
  /*justify-content: center; !* center vertically *!*/
}

.column {
  align-items: center; /* center horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center; /* center vertically (like on "login to enable...") */
}

.color:nth-child(1) {
  background-color: black;
}

.color:nth-child(2) {
  background-color: red;
}

.color:nth-child(3) {
  background-color: gold;
}

.color:nth-child(4) {
  background-color: deepskyblue;
}

.color:nth-child(5) {
  background-color: white;
  border: 1px solid lightgray;
}

.color.selected::before {
  background: seashell;
  border-radius: inherit;
  content: "";
  height: 10px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
}

.container {
  display: flex;
  gap: 10px;
  padding: 5px;
  touch-action: none; /* draw with touch */
  width: 100%;
}

.disabled {
  opacity: 50%;
  cursor: not-allowed;
  pointer-events: none;
}

.drawing-board {
  flex: 1;
  overflow: hidden; /* for some reason rounded borders? */
  position: relative; /* make the canvas-title center relative to this */
}

.full-height {
  height: 100vh;
}

.hidden {
  visibility: hidden;
}

.image-selected {
  border: 6px solid lightgray;
}

.option :where(span, label) { /* labels for each tool */
  color: dimgray;
  cursor: pointer;
  padding-left: 10px;
}

.option:is(:hover, .active) img { /* icons */
  filter: invert(1%) sepia(30%) saturate(3000%) hue-rotate(320deg) brightness(100%) contrast(100%);
}

.option:is(:hover, .active) :where(span, label) { /* hightlight label */
  color: var(--lighter-color);
}

.color { /* each color selector */
  border-radius: 100%;
  cursor: pointer;
  height: 20px;
  position: relative; /* make the selected circle center related to this */
  width: 20px;
}

.row {
  align-items: center; /* center verticaly */
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center; /* center horizontally */
  width: 100%;
}

.tools-board {
  padding: 50px 20px;
  width: 150px;
}

#canvas-title {
  cursor: not-allowed;
  font-size: 30px;
  left: 50%;
  opacity: 20%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#color-picker {
  cursor: pointer;
  opacity: 0;
}

#fill-color {
  accent-color: var(--lighter-color);
  cursor: pointer;
  height: 16px;
  margin: 0;
  width: 16px;
}

#clear-canvas, #generate-song {
  height: 40px;
  padding: 5px 20px;
  /*width: 100%;*/
}

#clear-canvas, #fill {
  background: none;
  border: 1px solid #a9aeb2;
  color: #6C757D;
}

#clear-canvas:hover, #fill:hover {
  background: #a9aeb2;
  color: #fff;
}

#fill {
  height: min-content;
}

#images-container {
  align-items: normal; /* if we align vertically, images get too big */
  background-color: whitesmoke;
  overflow-x: scroll;
  justify-content: normal; /* if we align horizontally, imagets get cropped */
}

#images-container img {
  border-radius: var(--border-radius);
}

#images-container img:hover {
  border: var(--border-radius) solid lightgray;
}

#fill-color:checked ~ label {
  color: var(--lighter-color);
}

#history-board {
  width: 100%;
}

#music-board {
  background-color: var(--another-color);
  width: 100%;
}

#size-slider {
  accent-color: var(--lighter-color);
  cursor: pointer;
  margin: 10px 0 0 0;
  width: 103px;
}

/* pure workaround but it's good :) */
@media screen and (max-width: 768px) {
  canvas {
    height: 420px;
  }

  ul {
    margin-bottom: 0;
  }

  li {
    display: inline;
  }

  li:nth-child(4) {
    display: flex;
    gap: 5px;
  }

  .background {
    margin: 15px 5px 0 5px; /* margin around the page */
  }

  .container {
    flex-direction: column;
  }

  .container .column {
    flex-direction: row;
    gap: 15px;
  }

  .option span { /* labels for each tool */
    visibility: hidden;
    position: absolute;
  }

  .option label { /* label for fill color */
    padding-left: 0;
  }

  .tools-board {
    padding: 5px;
    width: auto;
  }

  .tools-board div {
    display: flex;
    flex-direction: column;
  }

  .row {
    gap: 5px;
  }

  #brush, #rectangle {
    margin-right: 5px;
  }

  #clear-canvas, #generate-song {
    height: 50px;
    padding: 0 2px;
    width: 100%;
  }

  #size-slider {
    display: block;
    margin: 0;
    width: 80px;
  }
}