@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --lighter-color: #c2471a;
  --main-color: #4b2626;
}

/* Tag Selectors */
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
}

a {
  color: var(--lighter-color);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  text-align: center;
  user-select: none;
}

p {
  margin: 0;
}

section {
  background: #fff;
  border-radius: 7px;
}

iframe {
  background-color: white;
  border-radius: 12px;
}

/* Class Selectors */
.background {
  background-color: var(--main-color);
  margin: 8px;
}

.buttons-container {
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons .clear-canvas {
  border: 1px solid #a9aeb2;
  color: #6C757D;
  transition: all 0.3s ease;
}

.clear-canvas:hover {
  background: #a9aeb2;
  color: #fff;
}

.buttons .generate {
  background: var(--lighter-color);
  border: 1px solid var(--lighter-color);
  transition: all 0.3s ease;
}

.generate:hover {
  background: #8f4a37;
}

.buttons button {
  background: none;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 13px;
  outline: none;
  padding: 11px 0;
  width: 100%;
}

.colors .option {
  border-radius: 50%;
  height: 20px;
  margin-top: 3px;
  position: relative;
  width: 20px;
}

.colors .option:first-child.selected::before {
  border-color: #ccc;
}

.colors .option:nth-child(1) {
  background-color: black;
}

.colors .option:nth-child(2) {
  background-color: red;
}

.colors .option:nth-child(3) {
  background-color: gold;
}

.colors .option:nth-child(4) {
  background-color: deepskyblue;
}

.colors .option:nth-child(5) {
  background-color: white;
  border: 1px solid lightgray;
}

.colors .option.selected::before {
  background: seashell;
  border-radius: inherit;
  content: "";
  height: 10px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
}

.colors .options {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  gap: 10px;
  max-width: 99%;
  padding: 10px;
  touch-action: none;
  width: 100%;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.drawing-board {
  flex: 1;
  overflow: hidden;
}

.drawing-board canvas {
  height: 100%;
  width: 100%;
}

.image-container {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.image-container img {
  border-radius: 12px;
  margin-right: 5px;
}

.image-container img:hover {
  border: 7px solid #a9aeb2;
}

.image-selected {
  border: 6px solid #a9aeb2;
}

input, .buttons-container button {
  border: 1px solid #a9aeb2;
  border-radius: 4px;
  height: 25px;
  margin-bottom: 5px;
  text-align: center;
}

input[type="submit"], .buttons-container button {
  background: var(--lighter-color);
  border: 1px solid var(--lighter-color);
  color: white;
  cursor: pointer;
  padding: 0 10px;
  transition: all 0.3s ease;
}

input[type="submit"]:hover, .buttons-container button:hover {
  background: #8f4a37;
  border-color: #8f4a37;
}

.option :where(span, label) {
  color: #5A6168;
  cursor: pointer;
  padding-left: 10px;
}

.option #color-picker {
  cursor: pointer;
  opacity: 0;
}

.option #fill-color {
  cursor: pointer;
  height: 16px;
  margin: 2px;
  width: 16px;
}

#fill-color:checked ~ label {
  color: var(--lighter-color);
}

.option #size-slider {
  cursor: pointer;
  margin-top: 10px;
}

.option:is(:hover, .active) img {
  filter: invert(1%) sepia(30%) saturate(3000%) hue-rotate(320deg) brightness(100%) contrast(100%);
}

.option:is(:hover, .active) :where(span, label) {
  color: var(--lighter-color);
}

.row .options {
  margin: 10px 0 0 5px;
}

.row .options .option {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
}

.tools-board {
  padding: 15px 22px 0;
  width: 150px;
}

.tools-board .row {
  margin-bottom: 20px;
}

/* ID Selectors */
#music-board {
  background-color: #8f4a37;
}
