@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --main-color: #4b2626;
  --lighter-color: #c2471a;
  --another-color: #8f4a37;

  --border-radius: 7px;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0; /* for li's padding */
  transition: all 0.3s ease;
}

a {
  color: var(--lighter-color);
}

body {
  user-select: none;
  text-align: center; /* titles and footer */
  margin: 0; /* no y-scrolling on history-board */
  overflow: hidden;
}

button, img, .color, #color-picker, #fill-form, #size-slider, .option, input[type="submit"] {
  cursor: pointer;
}

button, input[type="submit"] {
  background: var(--lighter-color);
  border: 1px solid var(--lighter-color);
  color: white;
  padding: 0 5px;
}

button:hover, input[type="submit"]:hover {
  background: var(--another-color);
  border-color: var(--another-color);
}

button, input {
  border-radius: 4px;
  height: 30px;
  text-align: center; /* aligned when login and signin up */
}

canvas { /* not visible but without it it'll be very small */
  cursor: crosshair;
  height: 100%;
  touch-action: none; /* draw with touch */
}

canvas, .row, .container, #music-board, #history-board {
  width: 100%;
}

footer {
  color: var(--another-color);
  margin-top: -5px; /* cancel column's gap */
}

input {
  border: 1px solid lightgray;
}

iframe, section {
  background: white;
  border-radius: var(--border-radius);
  border-width: 0;
}

li {
  align-items: center; /* align vertically icon and label */
  display: flex;
  margin-bottom: 5px;
}

p, form, label, span, img, .color { /* transition in those make them fell laggy */
  margin: 0;
  transition: none;
}

.background {
  background-color: var(--main-color);
  margin: 50px 15px 0 15px; /* margin around the page */
}

.button-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column, .row {
  align-items: center; /* center horizontally/vertically */
  display: flex;
  justify-content: center; /* center vertically/horizontally (like on "login to enable...") */
  gap: 10px;
}

.column {
  flex-direction: column;
}

.color:nth-child(1) {
  background-color: black;
}

.color:nth-child(2) {
  background-color: red;
}

.color:nth-child(3) {
  background-color: gold;
}

.color:nth-child(4) {
  background-color: deepskyblue;
}

.color:nth-child(5) {
  background-color: white;
  border: 1px solid lightgray;
}

.color.selected::before {
  background: seashell;
  border-radius: inherit;
  content: "";
  height: 10px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
}

.color { /* each color selector */
  border-radius: 100%;
  height: 20px;
  position: relative; /* make the selected circle center related to this */
  width: 20px;
}

.container {
  display: flex;
  gap: 10px;
}

.disabled {
  cursor: not-allowed;
}

.disabled button {
  opacity: 50%;
  pointer-events: none;
}

.drawing-board {
  font-size: 0; /* fix it being bigger than canvas */
  flex: 1;
  overflow: hidden; /* for some reason rounded borders? */
  position: relative; /* make the canvas-title center relative to this */
}

.full-height {
  height: 100vh;
}

.hidden {
  display: none;
}

.image-selected {
  border: 6px solid lightgray;
}

.option :where(span, label) { /* labels for each tool */
  color: dimgray;
  padding-left: 10px;
}

.option:is(:hover, .active) :where(span, label) { /* hightlight labels */
  color: var(--lighter-color);
}

.option:is(:hover, .active) img { /* highlight icons */
  filter: invert(1%) sepia(30%) saturate(3000%) hue-rotate(320deg) brightness(100%) contrast(100%);
}

.row {
  flex-direction: row;
}

.tools-board {
  padding: 50px 20px;
  width: 150px;
}

#canvas-title {
  font-size: 30px;
  left: 50%;
  opacity: 20%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#color-picker {
  opacity: 0;
}

#clear-canvas, #generate-song {
  height: 40px;
  padding: 5px 20px;
}

#clear-canvas, #fill {
  background: none;
  border: 1px solid #a9aeb2;
  color: #6C757D;
}

#clear-canvas:hover, #fill:hover {
  background: #a9aeb2;
  color: #fff;
}

#description, #powered {
  display: inline;
}

#fill {
  height: min-content;
}

#fill-form {
  accent-color: var(--lighter-color);
  height: 16px;
  margin: 0;
  width: 16px;
}

#fill-form:checked ~ label {
  color: var(--lighter-color);
}

#images-container {
  align-items: normal; /* if we align vertically, images get too big */
  background-color: whitesmoke;
  overflow-x: scroll;
  justify-content: normal; /* if we align horizontally, imagets get cropped */
}

#images-container img {
  border-radius: var(--border-radius);
}

#images-container img:hover {
  border: var(--border-radius) solid lightgray;
}

#loading {
  filter: sepia(30%) hue-rotate(147deg) brightness(60%) contrast(100%);
  height: 30%;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#powered {
  display: none;
}

#music-board {
  background-color: var(--another-color);
}

#size-slider {
  accent-color: var(--lighter-color);
  margin: 10px 0 0 0;
  width: 103px;
}

/* little workaround but it's good :) */
@media screen and (max-width: 768px) {
  canvas {
    height: 50vh;
  }

  input {
    width: 30%; /* to fit */
  }

  ul {
    margin: 5px 0;
  }

  li {
    display: inline; /* side by side icons */
  }

  li:nth-child(4) { /* fill form's checkbox */
    display: flex;
    gap: 5px;
  }

  .background { /* margin around the page */
    margin: 5px 5px 0 5px;
  }

  .container { /* let it in 4 columns, music, history, tools and canvas */
    flex-direction: column;
  }

  .container .column { /* tools column to tools row*/
    flex-direction: row;
    gap: 5px;
  }

  .option span, #credits, #description { /* hide labels and footer */
    display: none;
  }

  .option label { /* label for fill color */
    padding-left: 0;
  }

  .tools-board {
    padding: 5px;
    width: auto;
  }

  .tools-board div { /* stack fill's button below "Colors" */
    display: flex;
    flex-direction: column;
  }

  .row {
    gap: 5px;
  }

  #brush, #rectangle {
    margin-right: 5px;
  }

  #clear-canvas, #generate-song {
    height: 50px;
    padding: 0 2px;
  }

  #history-board {
    width: 70%;
  }

  #main-container { /* padding between canvas and log out */
    padding-bottom: 0;
  }

  #size-slider {
    display: block;
    margin: 0;
    width: 50px;
  }

  #powered {
    display: initial;
  }
}