{% extends "template.html" %}

{% block title %}
    <Title>Images</Title>
{% endblock %}

{% block content %}
    <div class="column full-height">
    {% if not logged %}
        <p><a href="/login">Login</a> to enable drawing history</p>
    {% else %}
        {% if empty %}
            <p>Empty</p>
        {% endif %}
        <div id="images-container" class="row">
            {% for img in imgs %}
                <img src="{{ img }}" alt="Image">
            {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}