<!DOCTYPE html>
<link href="/static/styles.css" rel="stylesheet">
<section class="column full-height">
    {% if not logged %}
        <p><a href="/login">Login</a> to enable drawing history</p>
    {% else %}
        {% if imgs | length == 0 %}
            <p>Empty</p>
        {% endif %}
        <div id="images-container" class="row">
            {% for img in imgs | reverse %}
                <img src="{{ img }}" alt="Drawing">
            {% endfor %}
        </div>
    {% endif %}
</section>
