{% extends "template.html" %}

{% block title %}
    <Title>Login</Title>
{% endblock %}

{% block content %}
    <form method="POST">
        <label style="display:block">Username:
            <input type=text name=username>
        </label>
        <label>Password:
            <input type=password name=password>
        </label>
        <input type=submit value=Login>
    </form>
    {% if falhou %}
        <p>Invalid User/Password, try again or <a href={{ url_for("signup") }}>Sign Up</a>.</p>
    {% else %}
        <p>No Account? <a href={{ url_for("signup") }}>Sign Up</a></p>
    {% endif %}
{% endblock %}