{% extends "template.html" %}

{% block title %}
    <Title>Login</Title>
{% endblock %}

{% block content %}
    <form method="POST">
        <input type=text placeholder="Username" name=username autofocus>
        <input type=password placeholder="Password" name=password>
        <input type=submit value=Login>
    </form>
    {% if falhou %}
        <p>Invalid User/Password, try again or <a href={{ url_for("signup") }}>Sign Up</a>.</p>
    {% else %}
        <p>No Account? <a href={{ url_for("signup") }}>Sign Up</a></p>
    {% endif %}
{% endblock %}