{% extends "template.html" %}

{% block title %}
    <Title>paintify</Title>
{% endblock %}

{% block content %}
    <body class="background">
    <div class="container">
        <iframe id="music-board" src="" width="60%" height="80" frameBorder="0"
                allow="autoplay; clipboard-write; encrypted-media" loading="lazy"></iframe>
        <div class="buttons-container">
            <button id="remove">Remove</button>
            <button id="generate">Generate</button>
        </div>
        <iframe id="history-board" src="{{ url_for('imgs') }}" width="40%" height="80" frameBorder="0"></iframe>
    </div>
    <div class="container">
        <section class="tools-board">
            <div class="row">
                <label class="title">Shapes</label>
                <ul class="options">
                    <li class="option tool" id="rectangle">
                        <img src="/static/icons/rectangle.svg" alt="Rectangle icon">
                        <span>Rectangle</span>
                    </li>
                    <li class="option tool" id="circle">
                        <img src="/static/icons/circle.svg" alt="Circle icon">
                        <span>Circle</span>
                    </li>
                    <li class="option tool" id="line">
                        <img src="/static/icons/line.svg" alt="Line icon">
                        <span>Line</span>
                    </li>
                    <li class="option">
                        <input type="checkbox" id="fill-color">
                        <label for="fill-color">Fill color</label>
                    </li>
                </ul>
            </div>
            <div class="row">
                <label class="title">Options</label>
                <ul class="options">
                    <li class="option active tool" id="brush">
                        <img src="/static/icons/brush.svg" alt="Brush icon">
                        <span>Brush</span>
                    </li>
                    <li class="option tool" id="eraser">
                        <img src="/static/icons/eraser.svg" alt="Eraser icon">
                        <span>Eraser</span>
                    </li>
                    <li class="option">
                        <input type="range" id="size-slider" min="1" max="30" value="5">
                    </li>
                </ul>
            </div>
            <div class="row colors">
                <label class="title">Colors</label>
                <ul class="options">
                    <li class="option selected"></li>
                    <li class="option"></li>
                    <li class="option"></li>
                    <li class="option"></li>
                    <li class="option">
                        <input type="color" id="color-picker" value="#FFFFFF">
                    </li>
                </ul>
            </div>
            <div class="row buttons">
                <button class="clear-canvas">Clear Canvas</button>
                <button class="generate">Generate Song</button>
            </div>
        </section>
        <section class="drawing-board">
            <canvas></canvas>
        </section>
    </div>
    <p style="color:#8f4a37;">Powered by Open AI and Spotify</p>
    <p style="color:#8f4a37;">Made by <a href="https://github.com/euyogi">Yogi Nam</a></p>
    <script src="/static/script.js"></script>
    </body>
{% endblock %}