{% extends "template.html" %}

{% block title %}
    <Title>Sign Up</Title>
{% endblock %}

{% block content %}
    <form method="POST">
        <input type=text placeholder="Username" name=username autofocus>
        <input type=password placeholder="Password" name=password>
        <input type=submit value="Sign Up">
    </form>
    {% if falhou %}
        <p>User already exists, try again or <a href={{ url_for("login") }}>Login</a></p>
    {% else %}
        <p>Has an account? <a href={{ url_for("login") }}>Login</a>.</p>
    {% endif %}
{% endblock %}